.carousel-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #242424;
  border-radius: 24px;
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
}

.carousel-track {
  display: flex;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #242424;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: #242424;
  overflow: hidden;
  cursor: grab;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-container.round {
  border: 2px solid #414141;
}

.carousel-item.round {
  background-color: #414141;
  position: relative;
  bottom: 0.1em;
  border: 1px solid #414141;
  justify-content: end;
  align-items: center;
  text-align: center;
}

.carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator.active {
  background-color: #242424;
}

.carousel-indicator.inactive {
  background-color: rgba(236, 236, 236, 0.4);
}

.carousel-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}

.carousel-icon-container {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #242424;
}

.carousel-icon {
  height: 16px;
  width: 16px;
  color: #050322;
}

.carousel-item-content {
  padding: 20px;
  padding-bottom: 80px;
}

.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 26px;
  color: #464646;
  text-shadow: 0px 4px 4px rgba(117, 117, 117, 0.445);
}

.carousel-item-description {
  font-size: 18px;
  font-weight: 600;
  color: #757575;
  text-shadow: 0px 4px 4px rgba(117, 117, 117, 0.445);
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carousel-indicator.active {
  background-color: #050322;
}

.carousel-indicator.inactive {
  background-color: #797979;
}
